@using System.Text
@{
    ViewBag.CurrentController = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    ViewBag.CurrentAction = ViewContext.RouteData.Values["Action"].ToString().ToLower();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eshop.webadmin</title>

    <link rel="stylesheet" href="~/lib/kendo/kendo.default-v2.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/kendo/kendo.all.min.js"></script>

    <link rel="stylesheet" href="~/lib/kendo/kendo.common.min.css">
    <link rel="stylesheet" href="~/lib/kendo/kendo.rtl.min.css">
    <link rel="stylesheet" href="~/lib/kendo/kendo.default.min.css">
    <link rel="stylesheet" href="~/lib/kendo/kendo.mobile.all.min.css">
    <script src="~/lib/kendo/angular.min.js"></script>
    <script src="~/lib/kendo/jszip.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin panel</h3>
            </div>
            <ul class="list-unstyled components">
                <li class='@(ViewBag.CurrentController=="account" ? "active" : "")'>
                    <a asp-controller="Account" asp-action="Index">Account</a>
                </li>
                <li class='@(ViewBag.CurrentController=="manager" ? "active" : "")'>
                    <a href="#managerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manager</a>
                    <ul class="collapse list-unstyled" id="managerSubmenu">
                        <li class='@(ViewBag.CurrentController+ViewBag.CurrentAction=="managerindex" ? "active" : "")'>
                            <a asp-controller="Manager" asp-action="Index">Manager List</a>
                        </li>
                        <li>
                            <a href="#">Sth</a>
                        </li>
                    </ul>
                </li>
                <li class='@(ViewBag.CurrentController=="home" ? "active" : "")'>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class='@(ViewBag.CurrentController+ViewBag.CurrentAction=="homeindex" ? "active" : "")'>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class='@(ViewBag.CurrentController+ViewBag.CurrentAction=="homeprivacy" ? "active" : "")'>
                            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="LogOut">Sign out</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>
            
            @RenderBody()

        </div>

    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
