@using System.Text
@{
    ViewBag.CurrentController = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    ViewBag.CurrentAction = ViewContext.RouteData.Values["Action"].ToString().ToLower();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eshop.webadmin</title>

    <link rel="stylesheet" href="~/lib/kendo/kendo.default-v2.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/kendo/kendo.all.min.js"></script>

    <link rel="stylesheet" href="~/lib/kendo/kendo.common.min.css">
    <link rel="stylesheet" href="~/lib/kendo/kendo.rtl.min.css">
    <link rel="stylesheet" href="~/lib/kendo/kendo.default.min.css">
    <link rel="stylesheet" href="~/lib/kendo/kendo.mobile.all.min.css">
    <script src="~/lib/kendo/angular.min.js"></script>
    <script src="~/lib/kendo/jszip.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin panel</h3>
            </div>
            <ul class="list-unstyled components">
                <li class='@(ViewBag.CurrentController=="report" ? "active" : "")'>
                    <a asp-controller="Report" asp-action="Index">Report</a>
                </li>
                <li class=''>
                    <a href="#managerSubmenu" class="dropdown-header">Manager</a>
                    <ul class=" list-unstyled" id="managerSubmenu">
                        <li class='@(ViewBag.CurrentController=="account" ? "active" : "")'>
                            <a asp-controller="Account" asp-action="Index">Account</a>
                        </li>
                        <li class='@(ViewBag.CurrentController+ViewBag.CurrentAction=="managerindex" ? "active" : "")'>
                            <a asp-controller="Manager" asp-action="Index">Manager List</a>
                        </li>
                    </ul>
                </li>
                <li class=''>
                    <a href="#productSubmenu" data-toggle="" aria-expanded="" class="dropdown-header">Products</a>
                    <ul class=" list-unstyled" id="productSubmenu">
                        <li class='@(ViewBag.CurrentController+ViewBag.CurrentAction=="productindex" ? "active" : "")'>
                            <a asp-controller="Product" asp-action="Index">Product List</a>
                        </li>
                        <li class='@(ViewBag.CurrentController+ViewBag.CurrentAction=="categoryindex" ? "active" : "")'>
                            <a asp-controller="Category" asp-action="Index">Category List</a>
                        </li>
                    </ul>
                </li>
                <li class='@(ViewBag.CurrentController+ViewBag.CurrentAction=="customerindex" ? "active" : "")'>
                    <a asp-controller="Customer" asp-action="Index">Customers</a>
                </li>
                <li class='@(ViewBag.CurrentController+ViewBag.CurrentAction=="orderindex" ? "active" : "")'>
                    <a asp-controller="Order" asp-action="Index">Orders</a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="LogOut">Sign out</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>
            
            @RenderBody()

        </div>

    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
